@charset "utf-8";


* {margin: 0; padding: 0;}
a {text-decoration: none; color: inherit;}
ul, li {list-style: none;}
html, body {width:100%; height: 100%;}

/* FOOTER */

#fnb {display: flex; align-items: center; justify-content: center; 
padding: 15px; border-top: 2px solid #ccc; border-bottom: 2px solid #ccc; 
font-weight: bold; text-indent: 0.8em; color: #555; font-size: 14px;}

#fnb a:hover {text-decoration: underline;}

#bot {padding: 20px; text-align: center; font-size: 12px; color: #999}

address {font-style: normal; margin-bottom: 10px; line-height: 1.3em;}

.bot_mail {margin-bottom: 10px;}