@charset "utf-8";


* {margin: 0; padding: 0;}
a {text-decoration: none; color: inherit;}
ul, li {list-style: none;}
html, body {width:100%; height: 100%;}

/* HEADER */
#top {width: 100%; padding: 0 20px; box-sizing: border-box; display: flex; align-items: center; justify-content: space-between; }
#top ul {display: flex; gap: 20px;}
#top h1 {width: 30%;}
#top h1 img {width: 100%}