@charset "utf-8";


#container {width: 100%; margin-bottom: 30px;}
.main_img img {width: 100%;}

#container section {width: 100%; }
#container section h2 {text-align: center; font-size: 28px; font-weight: 800; color: #61544F; margin: 25px 0;}

#best_seller {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; gap: 10px; padding: 15px; }
#best_seller figure {width: 45%;}
#best_seller figure img {width: 100%;}

.best_txt1 {font-weight: bold; font-size: 16px; display: block; text-align: center; margin: 8px; color: #584f4b;}
.best_txt1:hover {text-decoration: underline;}
.best_txt2 {display: block; text-align: center; font-size: 12px; color: #84A3C0;}

#photo {margin-top: 20px;}
#photo img {width: 100%;}

