@charset "utf-8";

.hidden {display: none;}

#wrap {width: 100%; text-align: center;}

.content {padding: 0 20px; overflow: hidden;}

h2 {text-align: center; font-size: 35px; color: #584f4b; margin: 40px 0; font-weight: 750;}


.login_form { display: flex; flex-direction: column; gap: 12px;}

.field input {width: 100%; height: 50px; border: 1px solid #ccc; border-radius: 6px; font-size: 14px; outline: none; padding-left: 10px;}

.field input::placeholder { color: #a9a9a9;}

.row { display: flex; justify-content: space-between; align-items: center;gap: 12px; margin-bottom: 20px;}

.checkbox { display: inline-flex; align-items: center; gap: 8px; font-size: 13px; color: #6a6a6a;}

.checkbox input { width: 14px; height: 14px; }

.link { font-size: 13px; color: #6a6a6a; text-decoration: none;}
.link:hover { text-decoration: underline; }


.btn { display: flex; align-items: center; justify-content: center;
height: 45px; border-radius: 6px; font-weight: 600; font-size: 14px; border: none; cursor: pointer; background: #8ea9c0; color: #ffffff;}

.btn_login {font-size: 16px;}


/* 소셜 로그인 */

.social { display: flex; flex-direction: column; gap: 12px; padding: 40px 0; margin-top: 40px; border-top: 1px solid #ccc;  }

.btn-kakao {background: #f6e400; color: #2b2b2b;}

.btn-naver {
background: #03c75a; color: #ffffff;}

.btn-apple { background: #111111; color: #ffffff;}