@charset "utf-8";

main {width: 100%;}

h2 {text-align: center; font-size: 30px;  color: #555;}

h3 {font-size: 22px; font-weight: 700; color: #555;}

.delivery_info {margin-left: 20px;}

.btn_delivery { }
