@charset "utf-8";

@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {margin: 0; padding: 0;}
ul, li {list-style: none;}
a {text-decoration: none; color: inherit;}
body {width:100%; height: 100%; font-family: "Nanum Gothic", sans-serif;}